.top-banner {
  background: theme-color("primary");
  padding: 2px 0;
  font-size: 0.8rem;
  text-align: center;
  color: theme-color("light");

  a {
    color: theme-color("light");
    width: 100%;
    display: block;
  }

  &.box-red {
    background: none;
    font-size: 1rem;
    color: #e74c3c;

    a {
      color: #e74c3c;
      width: 100%;
      border: 2px solid #e74c3c;
      margin-top: 4px;
    }
  }
}
