.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-width: 2px;

  &:hover {
    background-color: transparent;

    &.btn-primary {
      color: theme-color("primary");
    }

    &.btn-secondary {
      border-color: theme-color("secondary");
      color: theme-color("secondary");
    }
  }

  span.icon {
    vertical-align: sub;
    margin-right: 0.5rem;
  }
}

a.btn {
  font-weight: 600;
  text-decoration: initial;
}
