.crumbs {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.volunteer-fire-ems-benefits,
.positions,
.duty-shifts,
.cadet-program,
.ride-along,
.requirements {
  .crumbs {
    display: none;
  }
}
