span.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;

  &.icon-lock {
    background-image: url(../images/lock.svg);
  }
}

.trust-badge {
  img {
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
      transition: 0.3s;
    }
  }
}
