span.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;

  &.icon-lock {
    background-image: url(../images/lock.svg);
  }
}

.trust-container {
  width: 47%;
  display: inline-block;

  @include media-breakpoint-up(sm) {
    width: 100%;
    display: block;
  }

  figure {
    width: 60%;
    float: none;
    text-align: center;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(sm) {
      float: right;
    }

    figcaption {
      margin-top: 1rem;
    }
  }
}

.trust-badge {
  img {
    filter: grayscale(50%);
    width: auto;
    height: 75px;
    min-width: initial;

    &:hover {
      filter: grayscale(0%);
      transition: 0.3s;
    }
  }
}
