footer {
  margin-top: 6rem;
  font-size: $font-size-sm;

  .contact {
    align-self: flex-end;
    padding-bottom: 2.5rem;

    .contact-box {
      max-width: 200px;

      p {
        margin-bottom: 1rem;
      }
    }
  }

  ul.social {
    list-style: none;
    padding: 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    li {
      display: inline-block;
      margin-right: 0.5rem;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
