.navbar {
  font-size: $font-size-sm;

  @include media-breakpoint-up(sm) {
    margin-bottom: 2rem;
  }
}

.navbar-brand img {
  width: 190px;

  @include media-breakpoint-up(sm) {
    width: 264px;
  }
}

a.dropdown-item {
  font-size: 0.875rem;
}
