.navbar {
  font-size: $font-size-sm;
}

a.navbar-brand {
  background: none;
}

.navbar-brand img {
  width: 190px;

  @include media-breakpoint-up(sm) {
    width: 264px;
  }
}

.navbar-nav .nav-link {
  font-weight: initial;
  text-decoration: initial;
}

a.dropdown-item {
  text-decoration: none;
  font-size: 0.875rem;
}
