.page-header {
  display: none;
}

.wp-block-columns {
  margin-bottom: 4rem;
}

.wp-block-group {
  margin-bottom: 6rem;

  &.narrow-group {
    max-width: 520px;
  }
}

.wp-block-image {
  margin-bottom: 0;

  .alignright {
    margin-left: 3rem;
  }

  .alignleft {
    margin-right: 3rem;
  }

  .alignleft,
  .alignright {
    margin-bottom: 3rem;
  }
}
