/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #1c1f52,
  secondary: #e17619,
  light: #e4e6ff
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Containers */
$container-max-widths: (
  sm: 480px,
  md: 782px,
  lg: 960px,
  xl: 960px
);

/** Text */
$enable-responsive-font-sizes: true;

$line-height-base: 1.75;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.15;
$h5-font-size: $font-size-base;

/** Navbar */
$navbar-dark-color: theme-color("light");
$navbar-dark-hover-color: colors("white");
$navbar-dark-active-color: theme-color("light");

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;

$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-padding-y: 1rem;

/** Buttons */
$btn-border-radius: 0;
$input-btn-padding-x: 2rem;
$input-btn-padding-y: 0.575rem;
$input-btn-font-size: 0.875rem;
$btn-font-weight: 600;
